<!DOCTYPE html>
<html>
<head>
<title>Image Recognizer</title>
</head>
<body>

<h1>Image Recognizer</h1>

<!-- This is the form for uploading the image -->

<form method=post enctype=multipart/form-data>
  <input type=file name=file>
  <input type=submit value=Upload>
</form>

<!-- {% if success %}
    <h2>Uploaded Image</h2>
    <img src="{{ url_for('upload_file', filename=filename) }}" alt="Uploaded image">
  {% endif %}

</p> -->
{% if success %}
<p>Your image was uploaded successfully and is now being processed.</p>
	<div>
		<img src="{{ url_for('display_image', filename=filename) }}"
    width="400" 
    height=auto />
	</div>
{% endif %}
</body>
</html>
